@import url(styles.css);

#passos{
    position: relative;
    padding: 60px 0;
    border-bottom: 3px solid #737474;
}

#passos h1{
    margin-left: 120px;
}

.imagem-passos{
    position: absolute;
    right: 120px;
    bottom: -4px;
}

.imagem-passos img{
    width: auto;
    height: 500px;
}

.line-passos{
    margin-top: 60px;
    width: 100%;
    height: 400px; 
    font-family: 'Inria Sans';
    padding: 50px 120px;
}

.passo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 30px;
    padding-bottom: 20px;
}

.passo p{
    font-size: 25px;
}

#passos.light .line-passos{
     color: #6F6F70;
     background: linear-gradient(90deg, #CEEBEF, #C2F7FE);
}

#passos.dark .line-passos{
    color: #fff;
    background: linear-gradient(90deg, #3e8089, #45adbb);
}

#passos.dark .passo p{
    color: #FFFFFF;
}

.square-passos{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 35px;
    font-weight: 600;
    border: 2px solid #606060;
}

#passos.light .square-passos{
    border: 2px solid #606060;
}

#passos.dark .square-passos{
    border: 2px solid #ffffff;
}

.passo:nth-child(2){
    margin-left: 120px;
}

.passo:nth-child(3){
    margin-left: 220px;
}




@media screen and (max-width: 2560px) {
     #passos h1{
        margin-left: 200px;
    }

     .line-passos{
        padding: 50px 200px;
    }
}

@media screen and (max-width: 1920px) {

     #passos h1{
        margin-left: 140px;
    }

     .line-passos{
        padding: 50px 140px;
    }
}


@media screen and (max-width: 1500px) {
    .passo,.passo:nth-child(2), .passo:nth-child(3){
        margin-left: 0;
    }
          
    #passos h1{
        margin-left: 80px;
    }
 
    .line-passos{
        padding: 50px 80px;
    }
}



@media screen and (max-width: 1300px) {
    
    .imagem-passos img{
        width: auto;
        height: 400px;
    }

}

@media screen and (max-width: 1000px) {
     #passos{
        min-height: 750px;
    }

    
    #passos{
        padding-bottom: 0;
    }
        
    #passos h1{
        margin-left: 80px;
    }
                
    .imagem-passos{
        width: max-content;
        margin-top: -80px;
        position: absolute;
        right: 0;
    }

    .imagem-passos img{
        width: auto;
        height: 450px;
    }
     
    .line-passos{
        margin-top: 20px;
        padding: 20px 80px;
    }

    .passo{
        margin: 25px;
        margin-left: 0;
    }
        
    .passo p{
        font-size: 20px;
    }
                
    .passo:nth-child(2), .passo:nth-child(3){
        margin-left: 0px;
    }
}


@media screen and (max-width: 700px) {

    #passos{
        min-height: 750px;
    }

    #passos h1{
        margin-left: 50px;
    }

   .line-passos{
        height: max-content;
        margin-top: 20px;
        padding: 20px 50px;
    }

    .passo p{
        font-size: 18px;
    }

    .passo{
        gap: 10px;
        padding-bottom: 15px;
    }
        
    .square-passos{
        width: 40px;
        height: 40px;
        font-size: 27px;
    }
          
    .imagem-passos img{
        width: auto;
        height: 350px;
    }
}



@media screen and (max-width: 500px) {
    #passos h1{
        margin-left: 30px;
    }

    .passo p{
        font-size: 12px;
    }
    .passo{
        margin: 10px;
        margin-left: 0;
    }

    .line-passos{
        margin-top: 20px;
        padding: 20px 30px;
    }

    .imagem-passos img{
        width: auto;
        height: 360px;
    }

     .square-passos{
        width: 35px;
        height: 35px;
        font-size: 22px;
        border: 1px solid #fff;
    }

}